
  <mat-card class="home mat-elevation=z3">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title class="title">Quem sou</mat-card-title>
    <mat-card-subtitle class="subtitle">
        @flavio_kussunoki
    </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/flavio.jpg" alt="Flavio K" class="foto">
    <mat-card-content>
      <p>
        Me chamo Flavio Kussunoki, tenho 40 anos, nascido em Rio Claro/SP.
        Sou casado, tenho tres filhos e atuo com desenvolvimento de sistemas em
        OpenEdge Progress no ERP TOTVS-Datasul.
        Sou especialista em Controladoria e Finanças e atuo há mais de vinte anos
        no mercado de finanças.
      </p>
    </mat-card-content>
  </mat-card>



  <mat-card class="home mat-elevation=z3">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title class="title">Hobies</mat-card-title>
    <mat-card-subtitle class="subtitle">
        Viagens, filhos e leitura
    </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/travel.jpg" alt="Flavio K" class="foto">
    <mat-card-content>
      <p>
       Viajar, ler e brincar com meus filhos são meu principal lazer. Conhecer novos lugares virou
       um hábito, uma vez que minha profissão me possibilitou conhecer quase todas as regiões do Brasil.
       Ler é um habito que trago comigo desde criança e, com o avanço cada vez mais rápido da tecnologia e
       com as ocorrencias macroeconomicas, leitura se tornou fundamental.
       E as crianças, são a forma de me trazer de volta a minha vida pessoal, lembrando que sempre é
       necessario ter equilibrio para viver uma vida saudavel
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="home mat-elevation=z3">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title class="title">Ideias</mat-card-title>
    <mat-card-subtitle class="subtitle">
        Viagens, filhos e leitura
    </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/idea.jpg" alt="Flavio K" class="foto">
    <mat-card-content>
      <p>
       Faço o Curso de Desenvolvimento de Sistemas na Uninter buscando aprender as novas tendencias
       e tecnologias que vem sendo apresentadas ultimamente.
       Machine Learning e Inteligencia Artificial sao tendencias que se apresentam como o incentivo
       para regressar os estudos para conseguir manter-me competitivo no mercado de trabalho.
      </p>
    </mat-card-content>
  </mat-card>



