<mat-tab-group>
  <mat-tab label="TOTVS Datasul">
  <b>Empresa: </b>Mineração Rio do Norte - Oriximina/PA <br>
  <b> Projeto: </b> Migração TOTVS 11 <br>
  <b> Periodo:</b> 2014 <br> <br>
  <b>Empresa: </b>CIPALAM - Ipatinga/MG <br>
  <b> Projeto: </b> Implantação Ativo imobilizado <br>
  <b> Periodo:</b> 2014 <br> <br>
  <b>Empresa: </b> Belagricola - Londrina/PR <br>
  <b> Projeto: </b> Implantação Aplicações e Emprestimos <br>
  <b> Periodo:</b> 2013 <br> <br>
  <b>Empresa: </b> Baterias Moura - Belo Jardim/PE <br>
  <b> Projeto: </b> Revitalização processos contábeis <br>
  <b> Periodo:</b> 2013 <br> <br>
  <b>Empresa: </b> Brasilata - São Paulo/SP <br>
  <b> Projeto: </b> Implantação Aplicações e Emprestimos <br>
  <b> Periodo:</b> 2013 <br> <br>
  <b>Empresa: </b> Grupo Guabi - Campinas/SP <br>
  <b> Projeto: </b> Migração TOTVS 11 <br>
  <b> Periodo:</b> 2013 <br> <br>
  <b>Empresa: </b> AVCO - Grupo Vicunha Holdings - Fortaleza/CE <br>
  <b> Projeto: </b> Implantação TOTVS 11 <br>
  <b> Periodo:</b> 2013 <br> <br>
  <b>Empresa: </b> Editora FTD - São Paulo/SP <br>
  <b> Projeto: </b> Migração TOTVS 11 <br>
  <b> Periodo:</b> 2013 <br> <br>




</mat-tab>

  <mat-tab label="Analista de Custos">
    <b>Empresa: </b> Ceramica Buschinelli Ltda - Villagres <br>
    <b> Projeto: </b> Implantação do Departamento de Custos na empresa, capacitação e manutenção do departamento <br>
    <b> Periodo:</b> 2003 <br> <br>

    <b>Empresa: </b> Unimil <br>
    <b> Projeto: </b> Implantação do Departamento de Custos na empresa, capacitação e manutenção do departamento <br>
    <b> Periodo:</b> 2009 <br> <br>

    <b>Empresa: </b> Oxipira <br>
    <b> Projeto: </b> Implantação do Departamento de Custos na empresa, capacitação e manutenção do departamento <br>
    <b> Periodo:</b> 2012 <br> <br>


  </mat-tab>

  <mat-tab label="Controller">
    <b>Empresa: </b> Unimil <br>
    <b> Projeto: </b> Implantação do departamento de controladoria. Responsável pelo departamento de Finanças, Custos, Contabilidade e Fiscal <br>
    <b> Periodo:</b> 2010 <br> <br>
  </mat-tab>
</mat-tab-group>
