<mat-tab-group>
  <mat-tab label="Formação Academica"> <b>Curso: </b>Administração de Empresas - Gestao Negocios Internacionais <br>
  <b> Instituição: </b> Universidade Metodista de Piracicaba <br>
  <b> Periodo:</b> 2002 a 2005 </mat-tab>
  <mat-tab label="Formação Técnica"> <b>Curso: </b> Técnico em Contabilidade <br>
  <b> Periodo: </b> 1999 a 2001 </mat-tab>
  <mat-tab label="Idiomas"> <b> Idioma: </b> Ingles <b> Nivel: </b> Intermediário <br>
  <b> Idioma: </b> Alemão <b> Nivel: </b> Basico <br>
  <b> Idioma: </b> Italiano <b> Nivel: </b> Basico </mat-tab>
  <mat-tab label="Tecnologia"> <b>Linguagem: </b> Openedge Progress <br>
    <b>Linguagem: </b> JavaScript <br>
    <b>Linguagem: </b> NodeJS <br>
    <b>Linguagem: </b> Visual Basic for Applications <br>
    <b>Linguagem: </b> Flutter <br>
    <b>Linguagem: </b> Python <br>
  </mat-tab>
</mat-tab-group>
